<div ...attributes>
  <div>
    <Ui::Button @onClick={{this.addNewChallenge}} @variant="primary" @label="Add New Challenge" @icon="plus-square" />
  </div>

  <div class="mt-8">
    {{#each this.challenges as |challenge|}}
      <Challenge @challenge={{challenge}} class="mt-8 first:mt-0" />
    {{/each}}
  </div>
</div>
