{{page-title "Challenge"}}
<div class="flex p-8 justify-around">
  <ChallengeAttemptWordcloud @challenge={{@model.challenge}} @attemptLanguage="spanish" />
  <ChallengeAttemptWordcloud @challenge={{@model.challenge}} @attemptLanguage="english" />
</div>
