{{page-title "Challenge"}}
<div class="p-8">
  <div class="flex justify-around">
    <ChallengeAttemptWordcloud @challenge={{@model.challenge}} @attemptLanguage="spanish" />
    <ChallengeAttemptWordcloud @challenge={{@model.challenge}} @attemptLanguage="english" />
  </div>

  <ChallengeProgressChart @challenge={{@model.challenge}} class="mt-8" />
</div>
